<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>UIFileSharingEnabled</key>
		<true/>
		<key>NSLocalNetworkUsageDescription</key>
		<string>允许在局域网内与电脑浏览器传输小说文本文件以导入书籍。</string>
		<key>NSBonjourServices</key>
		<array>
			<string>_http._tcp</string>
		</array>
	</dict>
</plist>
